.containerParentSearch {
  align-items: center;
  display: flex;
  height: 20vh;
  justify-content: center;
}

.containerSearch {
  align-items: center;
  display: flex;
}

.formControl {
  font-size: 16px;
  padding: 8px;
}

.buttonLogin {
  font-size: 16px;
  margin-left: 8px;
  padding: 8px 16px;
}

